

.parent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.box-item{
  height: 50px;
  width:50px;
  padding:10px;
  border: 1px solid black;
}